/*@CHARSET "ISO-8859-1";*/

/* CONTENIDOS */
    #cabecera{
		width: 100%;
		height: 180px;
		position: relative;
		margin-top: 50px;
	}
	#logo{
    	right: -54%;
    	top: -15%;
	}
	#logo img{
		width: 203px;
		 height: 203px;
	}
	#titulo{
		height: 50px;
	    right: 35%;
	    top: 0%;
	    width: 180px;   
	}
	#subtitulo{
		height: 30px;
	    right: 10%;
	    top: 64%;
	    width: 240px;
	}
	#mensaje{
		height: 60px;
	    right: 5%;
	    top: 150%;
	    width: 320px;
	}
	#mensaje p{
		font-size: 1.8em;
    line-height: 60px;
	}
	.postit h1{
		font-family: "Minyanouvelle";
		font-size: 2.5em;
		line-height: 50px;
	}
	.postit h2{
		font-family: "Minyanouvelle";
		font-size: 1.6em;
		line-height: 30px;
	}
	.postit h3{
		font-size: 1.4em;
		line-height: 25px;
		font-weight: normal;
	}
	#cab_ppal{
		position: relative;
		float: left;
		max-width: 450px;
		min-width: 302px;
		width: 50%;
		/*border: solid 1px black;*/
		height: 200px;
	}
	#cab_sec{
		float: left;
	    height: 220px;
	    max-width: 600px;
	    min-width: 302px;
	    position: relative;
	    width: 50%;
	    margin-top: 200px;
	}
	#cuerpo{
		width: 100%;
		position: relative;
		float: left;
	}
	.postit{ 
		position: absolute; 
		color: #7C7C7C;
	    box-shadow:         1px 1px 3px #000;
	}
	.tit{
		background-color: #D7E4BD;
		border: ridge 7px #D7E4BD;
	}
	.blanco{
		background-color: #FFF;
	}
	#mail{
		background-color: #F8DBFF !important;
		height: 30px;
	    left: 13%;
	    top: 20%;
	    width: 320px;
	}
	#direccion{
		background-color: #F8DBFF !important;
		height: 50px;
	    left: 13%;
	    padding: 5px 10px;
	    text-align: left;
	    top: 85%;
	    width: 320px;
	}
	#telefonos{
		background-color: #F8DBFF !important;
		height: 30px;
	    left: 13%;
	    top: 45%;
	    padding: 5px 20px;
	    text-align: left;
	}
	.postit a:link{
		font-weight: normal;
		color: #7C7C7C;
		text-decoration: none;
	}
	.postit a:hover{
		font-weight: normal;
		color: #7C7C7C;
		text-decoration: underline;
	}
	#mensaje_error{
	    padding: 20px;
	    right: 5%;
	    text-align: left;
	    top: 130%;
	    width: 300px;
	}
	#mensaje_error h4{
		font-size: 2em;
	}
	#mensaje_error a:link,#mensaje_error a:visited{
		color: #7C7C7C;
		text-decoration: underline;
	}
	#mensaje_error a:hover{
		color: #7C7C7C;
		text-decoration: underline;
		font-weight: bold;
	}